/* 
    Colores: {
        blanco: #FFFFFF
        negro: #000000
        gris-oscuro: #272727
        gris-claro: #A5A5A5
        lavanda: #7C77B9
   }
 */
.artist-list-container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.artist-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.artist-name {
  font-family: "Georgia", serif; /* Fuente bonita */
  font-size: 18px;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}



.artist-name {
  font-family: "Georgia", serif; /* Fuente bonita */
  font-size: 18px;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}


.no-artists {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 18px;
  color: #999;
}
.frase {
  background-color: #7c77b9;
  border-radius: 20px;
  color: #ffffff;
}
body {
  background-color: #a5a5a5;
}
#search-input {
  border-radius: 15px;
  margin-bottom: 10px;
}
.buscar {
  border-radius: 8px;
  background-color: #7c77b9;
  color: #ffffff;
  box-shadow: 0 8px 12px rgba(0, 0, 78, 0.2);
}
.card {
  width: 300px;
}
.detalle {
  color: #7c77b9;
}
.fixed-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.navbar {
  font-size: 18px;
  display: block;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 1000;
  background-color: #000000; 
  padding: 4px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item {
  padding: 1px 3px;
  margin-right: 7px;
}
.navbar a:hover:not(.login) {
  display: inline-block;
  background-size: 100% 3px;
  border-radius: 60px;
  background-repeat: no-repeat;
  background-position: 0 95%;
  padding-bottom: 2px;
  cursor:pointer;
  scale: 1;
}
.navbar a:hover:not(.login)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #7c77b9;
  border-radius: 3px;
}

 /* styles.css o el archivo CSS que estés utilizando */
 .footer {
  font-size: 15px;
  display: flex; 
  justify-content: center; 
  align-items: flex-end;
  height: 50px; 
  background-color: #000000; 
  color:#FFFFFF;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  position: fixed; 
  top: 0;
  bottom: 0; 
  width: 100%; 
  z-index: 1000;
  padding: 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.scrollable-div {
  width: 100%;
  height:500px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto; /* Esto activa el scroll en ambas direcciones si es necesario */
  margin-bottom: 10px;
}
