
/* 
    Colores: {
        blanco: #FFFFFF
        negro: #000000
        gris-oscuro: #272727
        gris-claro: #A5A5A5
        lavanda: #7C77B9
   }
 */
 .navbar {
  background: #000000;
  padding: 0%;
  margin-top: 0%;
  padding-bottom: 12px;
  color: #FFFFFF;
 }

text-white {
  color: #FFFFFF 
}
 
 footer {
  background: #000000;
  padding: 0%;
  margin-bottom: 0%;
  color:#FFFFFF


 }