.navbar {
    font-size: 18px;
    display: block;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #000000;
    padding: 10px 0;
    margin: 4px;
}

.navbar .nav-item:last-child {
    margin-right: 0;
}

.navbar .nav-item {
    padding: 1px 3px;
    margin-right: 7px;
    display: inline-block;
}

.navbar .nav-link {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    padding: 8px 15px;
    display: inline-block;
}

.navbar .nav-link:hover:not(.login) {
    background-size: 100% 3px;
    border-radius: 60px;
    background-repeat: no-repeat;
    background-position: 0 95%;
    padding-bottom: 2px;
    cursor: pointer;
    scale: 1;
}

.navbar .nav-link:hover:not(.login)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #7c77b9;
    border-radius: 3px;
}
