.custom-image {
    cursor: pointer;
    text-decoration: underline;
    width: auto;
    height: 150px;
}
.custom-modal {
    width: 150px;
    height: 150px;
}
.photo-claudinary {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.bottom-modal {
    bottom: 10px;
    right: 10px;
}
.custom-icon-size {
    width: 25px;
    height: 25px;
}



